/* .container{
  background: red;
  border: 2px solid blue;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width: min-content;
}
*/

body{
  background: whitesmoke;
  margin: auto;
  width: 100%;
}

.container{
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center space-evenly;
  justify-content: space-evenly;
}

.box-1{
  background: salmon;
  border: 6px solid #000;
}

.box-2{
  background: fuchsia;
  border: 6px solid red;
}

.box-3{
  background: aqua;
  border: 6px solid blue;
}

.box-4{
  background: navajowhite;
  border: 6px solid hotpink;
}






























































