/* .container{
  background: red;
  border: 2px solid blue;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width: min-content;
}
*/

































































