h1{
  text-decoration: underline;
  text-align: center;
}

.box{
  border: 5px dashed red;
  height: 500px;
  margin: 15px 90px;
  border-radius: 50px;
}

img{
  float: right;
  width: 364px;
  border-radius: 50px;
}












































